 .parent {
    margin-bottom: 20px;
   } 
.child {
    padding: 10px; 
    margin: 10px; 
   }  
.clr-footer {
    background: #c1c1c1;
    height: 60px;
    line-height: 60px;
    padding: 0 24px;
  }
