<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="" class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Wrsmconsole</span>
            </a>
        </div>
        <!-- <div class="header-actions">
           
        </div> -->
    </clr-header>
    <!-- <nav class="subnav">
       
    </nav> -->
    <div class="content-container">

        <main class="content-area">
            <!-- <nav class="sidenav" [clr-nav-level]="2"> -->

            <!-- </nav> -->
            <div *ngIf="loadingpb">
                <div class="progress loop"><progress></progress></div>
            </div>
            Discs collection
            <clr-tooltip>
                <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
                <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
                    <span>Press "add disc" in the bottom of table to add new disc</span>
                </clr-tooltip-content>
            </clr-tooltip>
            <br />
            <clr-datagrid class="parent">
                <clr-dg-column>Title</clr-dg-column>
                <clr-dg-column>Artist</clr-dg-column>
                <clr-dg-column>Year</clr-dg-column>

                <clr-dg-row *ngFor="let disc of discs">
                    <clr-dg-cell>{{disc.title}}</clr-dg-cell>
                    <clr-dg-cell>{{disc.artist}}</clr-dg-cell>
                    <clr-dg-cell>{{disc.year}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{discs.length}} discs</clr-dg-footer>
            </clr-datagrid>
            <button class="btn btn-primary" type="button" (click)="openModal('custom-modal-1')">Add disc</button>
        </main>
        <nav class="sidenav" [clr-nav-level]="1">
            <section class="sidenav-content">
                <a href="" class="nav-link active">
                    Discs
                </a>
            </section>

        </nav>
    </div>

</clr-main-container>

<modal id="custom-modal-1" *ngIf="showmodal">
    <div class="modal">
        <div class="modal-dialog" role="dialog" aria-hidden="true">
            <div class="modal-content">

                <div class="modal-header">
                    <button aria-label="Close" class="close" type="button" (click)="closeModal('custom-modal-1');">
                        <clr-icon aria-hidden="true" shape="close"></clr-icon>
                    </button>
                    <h3 class="modal-title">Create disc</h3>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" [formGroup]="form">
                        <div class="form-group child">
                            <ng-template #inputIdTemplate>
                                <input type="text" placeholder="Id" id='_id' [(ngModel)]='id' class="clr-input"
                                    autofocus (focus)="onFocus('_id')" (focusout)="onFocusedOut('_id')" formControlName="idControl" />
                                {{onLoad('idControl','_id')}}
                            </ng-template>
                            <div *ngIf="!isFieldValid('idControl', '_id') else idControlValid">
                                <ng-container *ngTemplateOutlet="inputIdTemplate"></ng-container>
                            </div>
                            <ng-template #idControlValid>
                                <div class="clr-control-container clr-error">
                                    <div class="clr-input-wrapper">
                                        <ng-container *ngTemplateOutlet="inputIdTemplate"></ng-container>
                                        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="clr-subtext">Please inform id</span>
                                </div>
                            </ng-template>


                        </div>
                        <div class="form-group child">
                            <ng-template #inputTitleTemplate>
                                <input type="text" id='_title' placeholder="Title" [(ngModel)]='title' class="clr-input"
                                    (focus)="onFocus('_title')" (focusout)="onFocusedOut('_title')" formControlName="titleControl" />
                                {{onLoad('titleControl','_title')}}
                            </ng-template>
                            <div *ngIf="!isFieldValid('titleControl', '_title') else titleControlValid">
                                <ng-container *ngTemplateOutlet="inputTitleTemplate"></ng-container>
                            </div>
                            <ng-template #titleControlValid>
                                <div class="clr-control-container clr-error">
                                    <div class="clr-input-wrapper">
                                        <ng-container *ngTemplateOutlet="inputTitleTemplate"></ng-container>
                                        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="clr-subtext">Please inform title</span>
                                </div>
                            </ng-template>

                        </div>
                        <div class="form-group child">
                            <ng-template #inputArtistTemplate>
                                <input type="text" id='_artist' placeholder="Artist" [(ngModel)]='artist' class="clr-input"
                                    (focus)="onFocus('_artist')" (focusout)="onFocusedOut('_artist')" formControlName="artistControl" />
                                {{onLoad('artistControl','_artist')}}
                            </ng-template>
                            <div *ngIf="!isFieldValid('artistControl', '_artist') else artistControlValid">
                                <ng-container *ngTemplateOutlet="inputArtistTemplate"></ng-container>
                            </div>
                            <ng-template #artistControlValid>
                                <div class="clr-control-container clr-error">
                                    <div class="clr-input-wrapper">
                                        <ng-container *ngTemplateOutlet="inputArtistTemplate"></ng-container>
                                        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="clr-subtext">Please inform artist</span>
                                </div>
                            </ng-template>


                        </div>
                        <div class="form-group child">
                            <ng-template #inputYearTemplate>
                                <input type="text" placeholder="Year" id='_year' [(ngModel)]='year' class="clr-input" (focus)="onFocus('_year')"
                                (focusout)="onFocusedOut('_year')"  formControlName="yearControl" />
                                {{onLoad('yearControl','_year')}}
                            </ng-template>
                            <div *ngIf="!isFieldValid('yearControl', '_year') else yearControlValid">
                                <ng-container *ngTemplateOutlet="inputYearTemplate"></ng-container>
                            </div>
                            <ng-template #yearControlValid>
                                <div class="clr-control-container clr-error">
                                    <div class="clr-input-wrapper">
                                        <ng-container *ngTemplateOutlet="inputYearTemplate"></ng-container>
                                        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                                    </div>
                                    <span class="clr-subtext">Please inform year</span>
                                </div>
                            </ng-template>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
                    <button class="btn" (click)="reset()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</modal>